.CreatePostForm{
    width:95%;
    min-width: 30rem;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CreatePost,.CreateComment{
    width: 95%;
    min-width: 30rem;
    max-width: 100rem;
    resize: none;
}
.CreatePost{
    min-height: 40rem;
    width:95%;
    min-width: 30rem;
    max-width: 100rem;
}
.CreateComment{
    height: 120px;
}
.display-none{
    display: none;
}