.Community-list-group,.Community-comment,.Community-PostCont{
    width: auto;
    min-width: 38em;
    border: 1px solid black;
    height: fit-content;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    color:black;
    text-decoration: none;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}
.Community-list-group,.Community-comment{
    min-height: 120px;
}
.Community-PostCont{
    min-height: 400px;
    width: auto;
    min-width: 35em;
}
.Community-PostCont>h1{
    margin-bottom: 7.8em;
}
.Community-Link{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.Community-Link:hover{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.Community-postForm>div{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.Community-postForm{
    display: flex;
    flex-direction: column;
}
.Community-postForm>h2{
    display: flex;
    margin: 0.2em 0 1.2em 0.2em;
}
.Community-ProfileImg{
    width: 50px;
    height: 50px;
}
.Community-UserInfo{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Community-CommentCont{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0.2em 0 0.2em 0.2em;
}
.Community-PostModify{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CommunityPostDetail{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 38em;
    width: auto;
}
