.chart-contentsContainer{
    height: 80%;
    display: flex;
    flex-direction: column;
}

.chart-timeframe-tabs {
    margin: 0;
    padding: 0;
}

.chart-timeframe-tabs button {
    background-color: #535bf2;
}

.chart-timeframe-tabs button.active {
    background-color: red;
}

.chart-chartContainer {
    border: 1px solid black;
}