.order-title{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 3rem;
    height: 6rem;
    width: 100%;
}

.order-title>div{
    border: 1px solid blue;
    padding: 0.5rem 1rem;
}

.order-title div.FALL{
    color : blue
}
.order-title div.RISE{
    color : red
}

.order-title>div p {
    margin: 0;
}

.order-title div:nth-child(1){
    text-align: left;
}

.order-title>div>p:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.order-title>div:nth-child(2){
    align-items: center;
    display: flex;
}

.order-contentsContainer{
    display: flex;
    flex-direction: row;
}
.order-orderBookContainer{
    border: 1px solid red;
    width: 40%;
}
.order-formContainer{
    border: 1px solid blue;
    width: 60%;
}

.order-askPriceDiv{
    border: 1px solid blue;
    background-color: rgba(0, 0, 255, 0.2);
}
.order-bidPriceDiv{
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
}

.order-formNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.order-formNav li{
    list-style: none;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    cursor: pointer;
}
.order-formNav li.active{
    background-color: white;
}

.order-priceSelectDiv{
    display: flex;
    flex-direction: row;
}

.order-priceInputDiv{
    border: 1px solid black;
}

.order-priceAddDiv button{
    background-color: #888888;
}

.order-resetBtn{
    background-color: #888888;
}

.order-buyConfirmBtn{
    /* 필요한 스타일 추가 */
}

.order-amountSelectDiv{
    /* 필요한 스타일 추가 */
}

.order-amountInputDiv{
    /* 필요한 스타일 추가 */
}