#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#topNavbar{
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0;
  box-sizing: border-box;
}


#topNavbar div:nth-child(1) a img {
  width: 70%;
}

#bottomNavbar{
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: pink;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}

#bottomNavbar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#bottomNavbar li{
  font-size: 1.2rem;
  list-style: none;

}

#communityNavbar, #newsNavBar, #assetNavBar {
  position: fixed;
  top: 4rem;
  left: 0;
  border: 1px solid red;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 128, 0, 0.38);
}
#communityNavbar ul, #newsNavBar ul, #assetNavBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#communityNavbar li, #newsNavBar li, #assetNavBar li {
  list-style: none;
}
#communityNavbar li a , #newsNavBar li a, #assetNavBar li a {
  font-size: 1.2rem;
  font-weight: bold;
}
